
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

form input:not([type="submit"]), form textarea { padding: 20px 20px; background: none; display: block; border: 2px solid #ec5598; }

body {
  color: #aea9ad;
  font-family: Arial, "Open Sans", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

address { font-style: normal; color: #2c2c2c; }

.text-center { text-align: center; }

.button {
  padding: 10px 20px;
  margin-bottom: 30px;
  border: 2px solid #ec5598;
  position: relative;
  color: #ec5598; font-family: "Novecento Sans", "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.button:hover {
  color: #f7d0c2;
  border-color: #f7d0c2;
}

.button.no-gradient {
  border: 2px solid #2c282c;
  color: #2c282c;
}

.button.no-gradient:hover {
  border-color: #cc7250;
  color: #cc7250;
}

.button.large {
  padding: 20px 30px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*CONTAINER*/

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1;
}

.container:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

@media screen and (max-width: 990px) {
  .container {
    padding-left: 30px !important;
    padding-right: 30px !important;
    }
  }

@media (min-width: 768px) {
  .container {
    width: 750px;
    }
  }

@media (min-width: 992px) {
  .container {
    width: 970px;
    }
  }

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    }
  }

/*HEADER STYLES*/

.site-header {
  z-index: 999;
  *zoom: 1;
}

.site-header:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

.site-header .container {
  padding-top: 50px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ec5598;
  *zoom: 1;
}

.site-header .container:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

.header-collapse, .site-header {
  /*position: absolute;*/
  left: 0;
  width: 100%;
  top: 0;
}

/*LOGO*/

#branding {
  float: left;
}

#branding .logo {
  margin-right: 10px;
}

#branding .logo, #branding .logo-copy {
  display: inline-block;
  vertical-align: middle;
}

#branding .site-title {
  color: #ec5598;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}

#branding .site-description {
  font-size: 0.8125rem;
  color: #aea9ad;
}

.main-navigation {
  float: right;
}

.main-navigation .menu-toggle {
  background-color: #ec5598;
  font-size: 24px;
  border: none;
  color: white;
  display: inline-block;
  display: none;
  outline: none;
}

@media screen and (max-width: 990px) {
  .main-navigation .menu-toggle {
    display: block;
  }
}

@media screen and (min-width: 991px) {
  .main-navigation .menu-toggle {
    display: none !important;
  }
}

.main-navigation .menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: inline-block;
}

@media screen and (min-width: 991px) {
  .main-navigation .menu {
    display: block !important;
  }
}

@media screen and (max-width: 990px) {
  .main-navigation .menu {
    display: none;
  }
}

.main-navigation .menu-item  {
  margin: 0 15px;
  display: inline-block;
}

.main-navigation .menu-item a  {
  display: block;
  padding: 10px 0;
  position: relative;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #2c2c2c;
}

/*.main-navigation .menu-item a:after {
  content: " ";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  background: -webkit-linear-gradient(90deg, #ec5598, #f7d0c2);
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}*/

.main-navigation .menu-item.current-menu-item a:after, .main-navigation .menu-item:hover a:after {
  opacity: 1;
}

.mobile-navigation {
  position: relative;
  clear: both;
  padding: 20px 0;
  display: none;
}

@media screen and (min-width: 991px) {
  .mobile-navigation {
    display: none !important;
    }
  }

.mobile-navigation .menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
  background: #fff;
}

.mobile-navigation .menu-item {
  text-align: center;
}
.mobile-navigation .menu-item a {
  display: block;
  padding: 20px;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.75rem;
  color: #2c2c2c;
}

.mobile-navigation .menu-item.current-menu-item a, .mobile-navigation .menu-item:hover a {
  color: #ec5598 !important;
}

/*SLIDER*/

.hero-slider {
  position: relative;
}

.hero-slider .slides {
  list-style: none;
  margin: 0;
  padding: 0;
  *zoom: 1;
}

.hero-slider .slides:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

.hero-slider .slides li {
  margin-right: -100%;
  width: 100%;
  float: left;
  background-size: cover;
  min-height: 600px;
  background-position: center center;
  padding-top: 200px;
}

.slider-subtitle {
  font-size: 30px;
  font-size: 1.875rem;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  margin: 0; line-height: 1;
}

@media screen and (max-width: 990px) {
  .slider-subtitle {
    /*font-size: 30px;*/
    font-size: 1.4rem;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Novecento Sans", "Open Sans", sans-serif;
    margin: 0; line-height: 1;
  }
}

.slider-title {
  color: #cc7250;
  /*font-size: 90px;*/
  font-size: 3rem;
  font-weight: 300;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  text-transform: uppercase;
  margin: 0 0 30px;
  line-height: 1;
  background-image: -webkit-linear-gradient(90deg, #ea1977, #f9bdd8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  word-break: break-all;
}

@media screen and (max-width: 990px) {
  .slider-title {
    color: #cc7250;
    /*font-size: 90px;*/
    font-size: 2rem;
    font-weight: 300;
    font-family: "Novecento Sans", "Open Sans", sans-serif;
    text-transform: uppercase;
    margin: 0 0 30px;
    line-height: 1;
    background-image: -webkit-linear-gradient(90deg, #ea1977, #f9bdd8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    word-break: break-all;
  }
}

.slider-description {
  color: #fff;
  font-size: 2rem;
}

@media screen and (max-width: 990px) {
  .slider-description {
    color: #fff;
    font-size: 1rem;
  }
}

.hero-slider .slides p {
  width: 50%;
  margin-bottom: 50px;
}

@media screen and (max-width: 990px) {
  .hero-slider .slides p {
    width: 100%;
  }
}

.hero-slider .flex-control-paging {
  position: absolute;
  bottom: 0;
  z-index: 9;
  bottom: 30px;
  width: 95%;
  text-align: center;
}

.hero-slider .flex-control-paging li {
  display: inline-block;
  margin: 0 5px;
}

.hero-slider .flex-control-paging li a {
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid white;
  overflow: hidden;
  text-indent: -9999px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
}

.hero-slider .flex-control-paging li a.flex-active {
  border: none;
  background-repeat: no-repeat;
  background-image: url("/assets/images/paging.png");
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .hero-slider .flex-control-paging li a.flex-active {
    background-image: url("/assets/images/paging@2x.png");
    background-size: 15px 15px;
  }
}

.fullwidth-block .container {
  padding: 50px 0;
  border-bottom: 1px solid #ec5598;
}

.fullwidth-block:last-child .container {
  border-bottom: none;
}

.section-title {
  text-align: center;
  font-size: 48px;
  font-size: 3rem;
  text-transform: uppercase;
  color: #ec5598;
  margin: 0 0 50px;
  font-weight: 300;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  *zoom: 1;
}

.row:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

.feature {
  text-align: center;
  margin-bottom: 50px;
}

.feature p{
  color: #2c2c2c;
}

.feature .feature-title {
  font-size: 30px;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  background-image: -webkit-linear-gradient(90deg, #ea1977, #f9bdd8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-3a, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-3 { width: 25%; }
  .col-md-3a { width: 23%; }
  .col-md-4 { width: 30%; }
  .col-md-5 { width: 41.66667%; }
  .col-md-6 { width: 50%; }
  .col-md-offset-1 { margin-left: 8.33333%; }
}

.col-md-3a {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.team {
  text-align: center;
  margin-bottom: 30px;
}

.team .team-image {
  width: 188px;
  height: 188px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.team .team-image img {
  display: block;
  max-width: 100%;
  width: 100%;
}
.team .team-name {
  font-size: 24px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  background-image: -webkit-linear-gradient(90deg, #ea1977, #f9bdd8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.team.small .team-image {
  width: 170px;
  height: 170px;
}

.team.small .team-name {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
}

.team.small p {
  font-size: 14px;
  font-size: 0.875rem;
}

.team p{
  color: #2c2c2c;
}

.social-links {
   margin: 30px 0;
 }

.social-links a {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 2;
  background-color: #848484;
  border-radius: 50%;
  color: #151215;
}

.social-links a:hover {
  background-color: #ec5598;
}

.site-footer {
  background-color: #fff;
  padding-top: 80px ;
  padding-bottom: 40px ;
  border-top: 4px solid #ec5598;
}

.subscribe-form {
  position: relative;
}

.subscribe-form input:not([type="submit"]) {
  width: 97%;
  border: 2px solid #3a353a;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  background: transparent;
  color: white;
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.subscribe-form input:not([type="submit"]):active, .subscribe-form input:not([type="submit"]):hover, .subscribe-form input:not([type="submit"]):focus {
  border-color: #cc7250;
}

.subscribe-form input[type="email"]:active + input[type="submit"], .subscribe-form input[type="email"]:hover + input[type="submit"], .subscribe-form input[type="email"]:focus + input[type="submit"] {
  border-color: #cc7250;
}

.subscribe-form input[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 15px 20px;
  background: none;
  border: 2px solid #3a353a;
  color: #cc7250;
  text-transform: uppercase;
  outline: none;
  font-size: 12px;
  font-size: 0.75rem;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.widget {
  font-size: 14px;
  font-size: 0.875rem;
  color: #2c2c2c;
}

.widget .widget-title {
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #ec5598;
  font-weight: 600;
  margin-bottom: 30px;
}

.widget.contact-widget address, .widget.contact-widget .mail, .widget.contact-widget .phone {
  padding-left: 30px;
  position: relative;
  margin-bottom: 10px;
  display: block;
}

.widget.contact-widget address .icon, .widget.contact-widget .mail .icon, .widget.contact-widget .phone .icon {
  position: absolute;
  left: 0;
  top: 5px;
}

.icon {
  color: #ec5598;
}

.colophon {
  font-size: 0.875rem;
  text-align: center;
  padding: 30px 0 0;
  color: #ec5598;
}

.contact-info {
  color: #2c2c2c;
}

.page {
  padding: 50px 0;
}

.page h1, .page h2, .page h3, .page h4, .page h5, .page h6 {
  color: white;
}

.page .section-title {
  text-align: left;
  color: #787377;
  font-size: 48px;
  font-size: 3rem;
  margin-bottom: 30px;
}

.page p {
  margin-bottom: 30px;
}

.contact-form {
  margin-bottom: 50px;
  *zoom: 1;
}

.contact-form:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

.contact-form input:not([type="submit"]), .contact-form textarea {
  background-repeat: no-repeat !important;
  background-position: 10px center;
  padding: 15px 15px 15px 40px;
  width: 85%;
  margin-bottom: 10px;
  color: #2c2c2c;
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.contact-form input:not([type="submit"]):hover, .contact-form input:not([type="submit"]):active, .contact-form input:not([type="submit"]):focus, .contact-form textarea:hover, .contact-form textarea:active, .contact-form textarea:focus {
  border-color: #f9bdd8;
}

.contact-form textarea {
  background-position: 10px 15px;
}

.contact-form #name {
  background-image: url("/assets/images/icon-contact-user.png");
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) { .contact-form #name {
  background-image: url("/assets/images/icon-contact-user@2x.png");
  background-size: 16px 18px;
  }
}

.contact-form #mobile {
  background-image: url("/assets/images/phone.png");
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .contact-form #mobile {
    background-image: url("/assets/images/phone.png");
    background-size: 16px 18px;
  }
}

.contact-form #service {
  background-image: url("/assets/images/scissors.png");
}

.contact-form #date {
  background-image: url("/assets/images/calendar.png");
}

.contact-form #email {
  background-image: url("/assets/images/icon-contact-envelope.png");
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) { .contact-form #email {
  background-image: url("/assets/images/icon-contact-envelope@2x.png");
  background-size: 16px 11px;
  }
}

.contact-form #website {
  background-image: url("/assets/images/icon-contact-globe.png");
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) { .contact-form #website {
  background-image: url("/assets/images/icon-contact-globe@2x.png");
  background-size: 16px 16px;
  }
}

.contact-form #message {
  background-image: url("/assets/images/icon-contact-pencil.png");
  min-height: 200px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .contact-form #message {
    background-image: url("/assets/images/icon-contact-pencil@2x.png");
    background-size: 16px 17px;
    }
  }

.contact-form button {
  background: none;
  float: right;
}

.map {
  min-height: 350px;
}

.address-info { padding: 20px 20px 22px; position: relative; background-color: #1b181b; font-size: 14px; font-size: 0.875rem; }
.address-info:after { content: " "; width: 100%; height: 2px; background-image: -webkit-linear-gradient(90deg, #cc7250, #f7d0c2); bottom: 0; left: 0; position: absolute; }
.address-info address, .address-info .contact-info { display: inline-block; vertical-align: top; }
.address-info address p, .address-info .contact-info p { margin: 0; }
.address-info address { width: 200px; padding-left: 30px; position: relative; margin-right: 20px; }
.address-info address .icon { position: absolute; left: 0; top: 5px; }
.address-info .contact-info a { display: block; }
.address-info .contact-info .mail, .address-info .contact-info .phone { position: relative; padding-left: 30px; }
.address-info .contact-info .mail .icon, .address-info .contact-info .phone .icon { position: absolute; top: 5px; left: 0; }

.filterable-nav { display: inline-block; margin: 0 auto; padding: 20px; border: 2px solid #3a353a; margin-bottom: 50px; }
.filterable-nav .mobile-filter { display: none; }
.filterable-nav a {
  padding: 5px;
  display: inline-block;
  margin: 0 10px;
  color: #ec5598;
  text-transform: uppercase;
  font-family: "Novecento Sans", "Open Sans", sans-serif;
  position: relative;
  font-size: 12px;
  font-size: 0.75rem;
  text-decoration: none;
}
.filterable-nav a:after { content: " "; width: 100%; height: 2px; position: absolute; bottom: 0; left: 0; background-color: #cc7250; background-image: -webkit-linear-gradient(90deg, #cc7250, #f7d0c2); opacity: 0; -webkit-transition: .3s ease; transition: .3s ease; }
.filterable-nav a.current:after, .filterable-nav a:hover:after { opacity: 1; }

.filterable-items .filterable-item { -webkit-transition-property: -webkit-transform, opacity; transition-property: transform, opacity; -webkit-transition-duration: .3s; transition-duration: .3s; }

.filterable-items { margin: 0 -15px; }

.filterable-item { padding: 0 15px; width: 22%; float: left; }
@media screen and (max-width: 768px) { .filterable-item { width: 50%; } }
@media screen and (max-width: 480px) { .filterable-item { width: 100%; } }

/**** disabling Isotope CSS3 transitions ****/
.filterable-items.no-transition, .filterable-items.no-transition .filterable-item, .filterable-items .filterable-item.no-transition { -webkit-transition-duration: 0s; transition-duration: 0s; }

.gallery-item { margin-bottom: 30px; }
.gallery-item figure img { width: 100%; max-width: 100%; display: block; height: auto; margin-bottom: 0; }
.gallery-item figure figcaption { background-color: #1b181b; padding: 15px 20px 17px; position: relative; }
.gallery-item figure figcaption:after { content: " "; right: 0; height: 2px; background-color: #cc7250; background-image: -webkit-linear-gradient(90deg, #cc7250, #f7d0c2); bottom: 0; left: 0; position: absolute; display: block; }
.gallery-item figure .gallery-title { margin: 0; font-size: 14px; font-size: 0.875rem; font-family: "Novecento Sans", "Open Sans", sans-serif; text-transform: uppercase; color: white; font-weight: 400; }
.gallery-item figure p { font-size: 14px; font-size: 0.875rem; margin: 0; }

#imagelightbox { cursor: pointer; position: fixed; z-index: 10000; -ms-touch-action: none; touch-action: none; /* 50 */ box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.75); /* 50 */ }

/* ACTIVITY INDICATION */
#imagelightbox-loading, #imagelightbox-loading div { border-radius: 50%; }

#imagelightbox-loading { width: 2.5em; /* 40 */ height: 2.5em; /* 40 */ background-color: #444; background-color: rgba(0, 0, 0, 0.5); position: fixed; z-index: 10003; top: 50%; left: 50%; padding: 0.625em; /* 10 */ margin: -1.25em 0 0 -1.25em; /* 20 */ /* 40 */ box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75); /* 40 */ }

#imagelightbox-loading div { width: 1.25em; /* 20 */ height: 1.25em; /* 20 */ background-color: #fff; -webkit-animation: imagelightbox-loading .5s ease infinite; animation: imagelightbox-loading .5s ease infinite; }

@-webkit-keyframes imagelightbox-loading { from { opacity: .5; -webkit-transform: scale(0.75); }
  50% { opacity: 1; -webkit-transform: scale(1); }
  to { opacity: .5; -webkit-transform: scale(0.75); } }
@keyframes imagelightbox-loading { from { opacity: .5; -webkit-transform: scale(0.75); transform: scale(0.75); }
  50% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  to { opacity: .5; -webkit-transform: scale(0.75); transform: scale(0.75); } }
/* OVERLAY */
#imagelightbox-overlay { background-color: #fff; background-color: rgba(255, 255, 255, 0.9); position: fixed; z-index: 9998; top: 0; right: 0; bottom: 0; left: 0; }

/* "CLOSE" BUTTON */
#imagelightbox-close { width: 2.5em; /* 40 */ height: 2.5em; /* 40 */ text-align: left; border: none; background-color: #666; border-radius: 50%; position: fixed; z-index: 10002; top: 2.5em; /* 40 */ right: 2.5em; /* 40 */ -webkit-transition: color .3s ease; transition: color .3s ease; }

#imagelightbox-close:hover, #imagelightbox-close:focus { background-color: #111; }

#imagelightbox-close:before, #imagelightbox-close:after { width: 2px; background-color: #fff; content: ''; position: absolute; top: 20%; bottom: 20%; left: 50%; margin-left: -1px; }

#imagelightbox-close:before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

#imagelightbox-close:after { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

/* CAPTION */
#imagelightbox-caption { text-align: center; color: #fff; background-color: #666; position: fixed; z-index: 10001; left: 0; right: 0; bottom: 0; padding: 0.625em; /* 10 */ }

/* NAVIGATION */
#imagelightbox-nav { background-color: #444; background-color: rgba(0, 0, 0, 0.5); border-radius: 20px; position: fixed; z-index: 10001; left: 50%; bottom: 3.75em; /* 60 */ padding: 0.313em; /* 5 */ -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#imagelightbox-nav button { width: 1em; /* 20 */ height: 1em; /* 20 */ background-color: transparent; border: 1px solid #fff; border-radius: 50%; display: inline-block; margin: 0 0.313em; /* 5 */ }

#imagelightbox-nav button.active { background-color: #fff; }

/* ARROWS */
.imagelightbox-arrow { width: 3.75em; /* 60 */ height: 7.5em; /* 120 */ background-color: #444; background-color: rgba(0, 0, 0, 0.5); vertical-align: middle; display: none; position: fixed; z-index: 10001; top: 50%; margin-top: -3.75em; /* 60 */ border: none; }

.imagelightbox-arrow:hover, .imagelightbox-arrow:focus { background-color: #666; background-color: rgba(0, 0, 0, 0.75); }

.imagelightbox-arrow:active { background-color: #111; }

.imagelightbox-arrow-left { left: 2.5em; /* 40 */ }

.imagelightbox-arrow-right { right: 2.5em; /* 40 */ }

.imagelightbox-arrow:before { width: 0; height: 0; border: 1em solid transparent; content: ''; display: inline-block; margin-bottom: -0.125em; /* 2 */ }

.imagelightbox-arrow-left:before { border-left: none; border-right-color: #fff; margin-left: -0.313em; /* 5 */ }

.imagelightbox-arrow-right:before { border-right: none; border-left-color: #fff; margin-right: -0.313em; /* 5 */ }

#imagelightbox-loading, #imagelightbox-overlay, #imagelightbox-close, #imagelightbox-caption, #imagelightbox-nav, .imagelightbox-arrow { -webkit-animation: fade-in .25s linear; animation: fade-in .25s linear; }

@-webkit-keyframes fade-in { from { opacity: 0; }
  to { opacity: 1; } }
@keyframes fade-in { from { opacity: 0; }
  to { opacity: 1; } }
@media only screen and (max-width: 41.25em) { #container { width: 100%; }
  #imagelightbox-close { top: 1.25em; /* 20 */ right: 1.25em; /* 20 */ }
  #imagelightbox-nav { bottom: 1.25em; /* 20 */ }
  .imagelightbox-arrow { width: 2.5em; /* 40 */ height: 3.75em; /* 60 */ margin-top: -2.75em; /* 30 */ }
  .imagelightbox-arrow-left { left: 1.25em; /* 20 */ }
  .imagelightbox-arrow-right { right: 1.25em; /* 20 */ } }
@media only screen and (max-width: 20em) { .imagelightbox-arrow-left { left: 0; }
  .imagelightbox-arrow-right { right: 0; } }

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #ec5598; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.ant-collapse {
  background-color: #f7f7f7;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
}
.ant-collapse > .ant-collapse-item {
  border-bottom: 1px solid #d9d9d9;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  height: 38px;
  line-height: 38px;
  padding-left: 32px;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  position: relative;
  transition: all .3s;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header:active {
  background-color: #eee !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow {
  font-size: 12px;
  font-size: 9px \9;
  -webkit-transform: scale(0.75) rotate(0);
      -ms-transform: scale(0.75) rotate(0);
          transform: scale(0.75) rotate(0);
  /* IE6-IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
  zoom: 1;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  color: rgba(0, 0, 0, 0.43);
  display: inline-block;
  font-weight: bold;
  line-height: 40px;
  vertical-align: middle;
  transition: -webkit-transform 0.24s;
  transition: transform 0.24s;
  transition: transform 0.24s, -webkit-transform 0.24s;
  top: 0;
  left: 16px;
  /* stylelint-disable declaration-block-no-duplicate-properties */
  top: 16px \9;
  left: 0 \9;
  /* stylelint-enable declaration-block-no-duplicate-properties */
}
:root .ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow {
  -webkit-filter: none;
          filter: none;
}
:root .ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow {
  font-size: 12px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow:before {
  display: block;
  font-family: "anticon" !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow:before {
  content: "\E61F";
}
.ant-collapse-anim-active {
  transition: height 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ant-collapse-content {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.65);
  padding: 0 16px;
  background-color: #fff;
}
.ant-collapse-content > .ant-collapse-content-box {
  padding-top: 16px;
  padding-bottom: 16px;
}
.ant-collapse-content-inactive {
  display: none;
}
.ant-collapse-item:last-child > .ant-collapse-content {
  border-radius: 0 0 4px 4px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header[aria-expanded="true"] .arrow {
  display: inline-block;
  font-size: 12px;
  font-size: 9px \9;
  -webkit-transform: scale(0.75) rotate(90deg);
      -ms-transform: scale(0.75) rotate(90deg);
          transform: scale(0.75) rotate(90deg);
  /* IE6-IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.00000000000000006123, M12=-1, M21=1, M22=0.00000000000000006123)";
  zoom: 1;
}
:root .ant-collapse > .ant-collapse-item > .ant-collapse-header[aria-expanded="true"] .arrow {
  -webkit-filter: none;
          filter: none;
}
:root .ant-collapse > .ant-collapse-item > .ant-collapse-header[aria-expanded="true"] .arrow {
  font-size: 12px;
}
.ant-collapse-borderless {
  background-color: #fff;
  border: 0;
}
.ant-collapse-borderless > .ant-collapse-item-active {
  border: 0;
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content {
  background-color: transparent;
  border-top: 1px solid #d9d9d9;
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-header {
  transition: all .3s;
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-header:hover {
  background-color: #f7f7f7;
}

@font-face {
  font-family: 'anticon';
  src: url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.eot');
  /* IE9*/
  src: url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.eot?#iefix') format('embedded-opentype'), /* chrome、firefox */ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.woff') format('woff'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.ttf') format('truetype'), /* iOS 4.1- */ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.svg#iconfont') format('svg');
}
.anticon {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.anticon:before {
  display: block;
  font-family: "anticon" !important;
}
.anticon-step-forward:before {
  content: "\E600";
}
.anticon-step-backward:before {
  content: "\E601";
}
.anticon-forward:before {
  content: "\E602";
}
.anticon-backward:before {
  content: "\E603";
}
.anticon-caret-right:before {
  content: "\E604";
}
.anticon-caret-left:before {
  content: "\E605";
}
.anticon-caret-down:before {
  content: "\E606";
}
.anticon-caret-up:before {
  content: "\E607";
}
.anticon-right-circle:before {
  content: "\E608";
}
.anticon-circle-right:before {
  content: "\E608";
}
.anticon-caret-circle-right:before {
  content: "\E608";
}
.anticon-left-circle:before {
  content: "\E609";
}
.anticon-circle-left:before {
  content: "\E609";
}
.anticon-caret-circle-left:before {
  content: "\E609";
}
.anticon-up-circle:before {
  content: "\E60A";
}
.anticon-circle-up:before {
  content: "\E60A";
}
.anticon-caret-circle-up:before {
  content: "\E60A";
}
.anticon-down-circle:before {
  content: "\E60B";
}
.anticon-circle-down:before {
  content: "\E60B";
}
.anticon-caret-circle-down:before {
  content: "\E60B";
}
.anticon-right-circle-o:before {
  content: "\E60C";
}
.anticon-circle-o-right:before {
  content: "\E60C";
}
.anticon-caret-circle-o-right:before {
  content: "\E60C";
}
.anticon-left-circle-o:before {
  content: "\E60D";
}
.anticon-circle-o-left:before {
  content: "\E60D";
}
.anticon-caret-circle-o-left:before {
  content: "\E60D";
}
.anticon-up-circle-o:before {
  content: "\E60E";
}
.anticon-circle-o-up:before {
  content: "\E60E";
}
.anticon-caret-circle-o-up:before {
  content: "\E60E";
}
.anticon-down-circle-o:before {
  content: "\E60F";
}
.anticon-circle-o-down:before {
  content: "\E60F";
}
.anticon-caret-circle-o-down:before {
  content: "\E60F";
}
.anticon-verticle-left:before {
  content: "\E610";
}
.anticon-verticle-right:before {
  content: "\E611";
}
.anticon-rollback:before {
  content: "\E612";
}
.anticon-retweet:before {
  content: "\E613";
}
.anticon-shrink:before {
  content: "\E614";
}
.anticon-arrows-alt:before {
  content: "\E615";
}
.anticon-arrow-salt:before {
  content: "\E615";
}
.anticon-reload:before {
  content: "\E616";
}
.anticon-double-right:before {
  content: "\E617";
}
.anticon-double-left:before {
  content: "\E618";
}
.anticon-arrow-down:before {
  content: "\E619";
}
.anticon-arrow-up:before {
  content: "\E61A";
}
.anticon-arrow-right:before {
  content: "\E61B";
}
.anticon-arrow-left:before {
  content: "\E61C";
}
.anticon-down:before {
  content: "\E61D";
}
.anticon-up:before {
  content: "\E61E";
}
.anticon-right:before {
  content: "\E61F";
}
.anticon-left:before {
  content: "\E620";
}
.anticon-minus-square-o:before {
  content: "\E621";
}
.anticon-minus-circle:before {
  content: "\E622";
}
.anticon-minus-circle-o:before {
  content: "\E623";
}
.anticon-minus:before {
  content: "\E624";
}
.anticon-plus-circle-o:before {
  content: "\E625";
}
.anticon-plus-circle:before {
  content: "\E626";
}
.anticon-plus:before {
  content: "\E627";
}
.anticon-info-circle:before {
  content: "\E628";
}
.anticon-info-circle-o:before {
  content: "\E629";
}
.anticon-info:before {
  content: "\E62A";
}
.anticon-exclamation:before {
  content: "\E62B";
}
.anticon-exclamation-circle:before {
  content: "\E62C";
}
.anticon-exclamation-circle-o:before {
  content: "\E62D";
}
.anticon-close-circle:before {
  content: "\E62E";
}
.anticon-cross-circle:before {
  content: "\E62E";
}
.anticon-close-circle-o:before {
  content: "\E62F";
}
.anticon-cross-circle-o:before {
  content: "\E62F";
}
.anticon-check-circle:before {
  content: "\E630";
}
.anticon-check-circle-o:before {
  content: "\E631";
}
.anticon-check:before {
  content: "\E632";
}
.anticon-close:before {
  content: "\E633";
}
.anticon-cross:before {
  content: "\E633";
}
.anticon-customer-service:before {
  content: "\E634";
}
.anticon-customerservice:before {
  content: "\E634";
}
.anticon-credit-card:before {
  content: "\E635";
}
.anticon-code-o:before {
  content: "\E636";
}
.anticon-book:before {
  content: "\E637";
}
.anticon-bar-chart:before {
  content: "\E638";
}
.anticon-bars:before {
  content: "\E639";
}
.anticon-question:before {
  content: "\E63A";
}
.anticon-question-circle:before {
  content: "\E63B";
}
.anticon-question-circle-o:before {
  content: "\E63C";
}
.anticon-pause:before {
  content: "\E63D";
}
.anticon-pause-circle:before {
  content: "\E63E";
}
.anticon-pause-circle-o:before {
  content: "\E63F";
}
.anticon-clock-circle:before {
  content: "\E640";
}
.anticon-clock-circle-o:before {
  content: "\E641";
}
.anticon-swap:before {
  content: "\E642";
}
.anticon-swap-left:before {
  content: "\E643";
}
.anticon-swap-right:before {
  content: "\E644";
}
.anticon-plus-square-o:before {
  content: "\E645";
}
.anticon-frown:before {
  content: "\E646";
}
.anticon-frown-circle:before {
  content: "\E646";
}
.anticon-ellipsis:before {
  content: "\E647";
}
.anticon-copy:before {
  content: "\E648";
}
.anticon-menu-fold:before {
  content: "\E658";
}
.anticon-mail:before {
  content: "\E659";
}
.anticon-logout:before {
  content: "\E65A";
}
.anticon-link:before {
  content: "\E65B";
}
.anticon-area-chart:before {
  content: "\E65C";
}
.anticon-line-chart:before {
  content: "\E65D";
}
.anticon-home:before {
  content: "\E65E";
}
.anticon-laptop:before {
  content: "\E65F";
}
.anticon-star:before {
  content: "\E660";
}
.anticon-star-o:before {
  content: "\E661";
}
.anticon-folder:before {
  content: "\E662";
}
.anticon-filter:before {
  content: "\E663";
}
.anticon-file:before {
  content: "\E664";
}
.anticon-exception:before {
  content: "\E665";
}
.anticon-meh:before {
  content: "\E666";
}
.anticon-meh-circle:before {
  content: "\E666";
}
.anticon-meh-o:before {
  content: "\E667";
}
.anticon-shopping-cart:before {
  content: "\E668";
}
.anticon-save:before {
  content: "\E669";
}
.anticon-user:before {
  content: "\E66A";
}
.anticon-video-camera:before {
  content: "\E66B";
}
.anticon-to-top:before {
  content: "\E66C";
}
.anticon-team:before {
  content: "\E66D";
}
.anticon-tablet:before {
  content: "\E66E";
}
.anticon-solution:before {
  content: "\E66F";
}
.anticon-search:before {
  content: "\E670";
}
.anticon-share-alt:before {
  content: "\E671";
}
.anticon-setting:before {
  content: "\E672";
}
.anticon-poweroff:before {
  content: "\E6D5";
}
.anticon-picture:before {
  content: "\E674";
}
.anticon-phone:before {
  content: "\E675";
}
.anticon-paper-clip:before {
  content: "\E676";
}
.anticon-notification:before {
  content: "\E677";
}
.anticon-mobile:before {
  content: "\E678";
}
.anticon-menu-unfold:before {
  content: "\E679";
}
.anticon-inbox:before {
  content: "\E67A";
}
.anticon-lock:before {
  content: "\E67B";
}
.anticon-qrcode:before {
  content: "\E67C";
}
.anticon-play-circle:before {
  content: "\E6D0";
}
.anticon-play-circle-o:before {
  content: "\E6D1";
}
.anticon-tag:before {
  content: "\E6D2";
}
.anticon-tag-o:before {
  content: "\E6D3";
}
.anticon-tags:before {
  content: "\E67D";
}
.anticon-tags-o:before {
  content: "\E67E";
}
.anticon-cloud-o:before {
  content: "\E67F";
}
.anticon-cloud:before {
  content: "\E680";
}
.anticon-cloud-upload:before {
  content: "\E681";
}
.anticon-cloud-download:before {
  content: "\E682";
}
.anticon-cloud-download-o:before {
  content: "\E683";
}
.anticon-cloud-upload-o:before {
  content: "\E684";
}
.anticon-environment:before {
  content: "\E685";
}
.anticon-environment-o:before {
  content: "\E686";
}
.anticon-eye:before {
  content: "\E687";
}
.anticon-eye-o:before {
  content: "\E688";
}
.anticon-camera:before {
  content: "\E689";
}
.anticon-camera-o:before {
  content: "\E68A";
}
.anticon-windows:before {
  content: "\E68B";
}
.anticon-apple:before {
  content: "\E68C";
}
.anticon-apple-o:before {
  content: "\E6D4";
}
.anticon-android:before {
  content: "\E938";
}
.anticon-android-o:before {
  content: "\E68D";
}
.anticon-aliwangwang:before {
  content: "\E68E";
}
.anticon-aliwangwang-o:before {
  content: "\E68F";
}
.anticon-export:before {
  content: "\E691";
}
.anticon-edit:before {
  content: "\E692";
}
.anticon-circle-down-o:before {
  content: "\E693";
}
.anticon-circle-down-:before {
  content: "\E694";
}
.anticon-appstore-o:before {
  content: "\E695";
}
.anticon-appstore:before {
  content: "\E696";
}
.anticon-scan:before {
  content: "\E697";
}
.anticon-file-text:before {
  content: "\E698";
}
.anticon-folder-open:before {
  content: "\E699";
}
.anticon-hdd:before {
  content: "\E69A";
}
.anticon-ie:before {
  content: "\E69B";
}
.anticon-file-jpg:before {
  content: "\E69C";
}
.anticon-like:before {
  content: "\E64C";
}
.anticon-like-o:before {
  content: "\E69D";
}
.anticon-dislike:before {
  content: "\E64B";
}
.anticon-dislike-o:before {
  content: "\E69E";
}
.anticon-delete:before {
  content: "\E69F";
}
.anticon-enter:before {
  content: "\E6A0";
}
.anticon-pushpin-o:before {
  content: "\E6A1";
}
.anticon-pushpin:before {
  content: "\E6A2";
}
.anticon-heart:before {
  content: "\E6A3";
}
.anticon-heart-o:before {
  content: "\E6A4";
}
.anticon-pay-circle:before {
  content: "\E6A5";
}
.anticon-pay-circle-o:before {
  content: "\E6A6";
}
.anticon-smile:before {
  content: "\E6A7";
}
.anticon-smile-circle:before {
  content: "\E6A7";
}
.anticon-smile-o:before {
  content: "\E6A8";
}
.anticon-frown-o:before {
  content: "\E6A9";
}
.anticon-calculator:before {
  content: "\E6AA";
}
.anticon-message:before {
  content: "\E6AB";
}
.anticon-chrome:before {
  content: "\E6AC";
}
.anticon-github:before {
  content: "\E6AD";
}
.anticon-file-unknown:before {
  content: "\E6AF";
}
.anticon-file-excel:before {
  content: "\E6B0";
}
.anticon-file-ppt:before {
  content: "\E6B1";
}
.anticon-file-word:before {
  content: "\E6B2";
}
.anticon-file-pdf:before {
  content: "\E6B3";
}
.anticon-desktop:before {
  content: "\E6B4";
}
.anticon-upload:before {
  content: "\E6B6";
}
.anticon-download:before {
  content: "\E6B7";
}
.anticon-pie-chart:before {
  content: "\E6B8";
}
.anticon-unlock:before {
  content: "\E6BA";
}
.anticon-calendar:before {
  content: "\E6BB";
}
.anticon-windows-o:before {
  content: "\E6BC";
}
.anticon-dot-chart:before {
  content: "\E6BD";
}
.anticon-bar-chart:before {
  content: "\E6BE";
}
.anticon-code:before {
  content: "\E6BF";
}
.anticon-api:before {
  content: "\E951";
}
.anticon-plus-square:before {
  content: "\E6C0";
}
.anticon-minus-square:before {
  content: "\E6C1";
}
.anticon-close-square:before {
  content: "\E6C2";
}
.anticon-close-square-o:before {
  content: "\E6C3";
}
.anticon-check-square:before {
  content: "\E6C4";
}
.anticon-check-square-o:before {
  content: "\E6C5";
}
.anticon-fast-backward:before {
  content: "\E6C6";
}
.anticon-fast-forward:before {
  content: "\E6C7";
}
.anticon-up-square:before {
  content: "\E6C8";
}
.anticon-down-square:before {
  content: "\E6C9";
}
.anticon-left-square:before {
  content: "\E6CA";
}
.anticon-right-square:before {
  content: "\E6CB";
}
.anticon-right-square-o:before {
  content: "\E6CC";
}
.anticon-left-square-o:before {
  content: "\E6CD";
}
.anticon-down-square-o:before {
  content: "\E6CE";
}
.anticon-up-square-o:before {
  content: "\E6CF";
}
.anticon-loading:before {
  content: "\E64D";
}
.anticon-loading-3-quarters:before {
  content: "\E6AE";
}
.anticon-bulb:before {
  content: "\E649";
}
.anticon-select:before {
  content: "\E64A";
}
.anticon-addfile:before,
.anticon-file-add:before {
  content: "\E910";
}
.anticon-addfolder:before,
.anticon-folder-add:before {
  content: "\E914";
}
.anticon-switcher:before {
  content: "\E913";
}
.anticon-rocket:before {
  content: "\E90F";
}
.anticon-dingding:before {
  content: "\E923";
}
.anticon-dingding-o:before {
  content: "\E925";
}
.anticon-bell:before {
  content: "\E64E";
}
.anticon-disconnect:before {
  content: "\E64F";
}
.anticon-database:before {
  content: "\E650";
}
.anticon-compass:before {
  content: "\E6DB";
}
.anticon-barcode:before {
  content: "\E652";
}
.anticon-hourglass:before {
  content: "\E653";
}
.anticon-key:before {
  content: "\E654";
}
.anticon-flag:before {
  content: "\E655";
}
.anticon-layout:before {
  content: "\E656";
}
.anticon-login:before {
  content: "\E657";
}
.anticon-printer:before {
  content: "\E673";
}
.anticon-sound:before {
  content: "\E6E9";
}
.anticon-usb:before {
  content: "\E6D7";
}
.anticon-skin:before {
  content: "\E6D8";
}
.anticon-tool:before {
  content: "\E6D9";
}
.anticon-sync:before {
  content: "\E6DA";
}
.anticon-wifi:before {
  content: "\E6D6";
}
.anticon-car:before {
  content: "\E6DC";
}
.anticon-copyright:before {
  content: "\E6DE";
}
.anticon-schedule:before {
  content: "\E6DF";
}
.anticon-user-add:before {
  content: "\E6ED";
}
.anticon-user-delete:before {
  content: "\E6E0";
}
.anticon-usergroup-add:before {
  content: "\E6DD";
}
.anticon-usergroup-delete:before {
  content: "\E6E1";
}
.anticon-man:before {
  content: "\E6E2";
}
.anticon-woman:before {
  content: "\E6EC";
}
.anticon-shop:before {
  content: "\E6E3";
}
.anticon-gift:before {
  content: "\E6E4";
}
.anticon-idcard:before {
  content: "\E6E5";
}
.anticon-medicine-box:before {
  content: "\E6E6";
}
.anticon-red-envelope:before {
  content: "\E6E7";
}
.anticon-coffee:before {
  content: "\E6E8";
}
.anticon-trademark:before {
  content: "\E651";
}
.anticon-safety:before {
  content: "\E6EA";
}
.anticon-wallet:before {
  content: "\E6EB";
}
.anticon-bank:before {
  content: "\E6EE";
}
.anticon-trophy:before {
  content: "\E6EF";
}
.anticon-contacts:before {
  content: "\E6F0";
}
.anticon-global:before {
  content: "\E6F1";
}
.anticon-shake:before {
  content: "\E94F";
}
.anticon-fork:before {
  content: "\E6F2";
}
.anticon-spin:before {
  display: inline-block;
  -webkit-animation: loadingCircle 1s infinite linear;
          animation: loadingCircle 1s infinite linear;
}

.ant-carousel .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.ant-carousel .slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.ant-carousel .slick-list:focus {
  outline: none;
}
.ant-carousel .slick-list.dragging {
  cursor: pointer;
}
.ant-carousel .slick-slider .slick-track,
.ant-carousel .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.ant-carousel .slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.ant-carousel .slick-track:before,
.ant-carousel .slick-track:after {
  content: "";
  display: table;
}
.ant-carousel .slick-track:after {
  clear: both;
}
.slick-loading .ant-carousel .slick-track {
  visibility: hidden;
}
.ant-carousel .slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .ant-carousel .slick-slide {
  float: right;
}
.ant-carousel .slick-slide img {
  display: block;
}
.ant-carousel .slick-slide.slick-loading img {
  display: none;
}
.ant-carousel .slick-slide.dragging img {
  pointer-events: none;
}
.ant-carousel .slick-initialized .slick-slide {
  display: block;
}
.ant-carousel .slick-loading .slick-slide {
  visibility: hidden;
}
.ant-carousel .slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.ant-carousel .slick-arrow.slick-hidden {
  display: none;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: 0;
  outline: none;
}
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.ant-carousel .slick-prev:hover:before,
.ant-carousel .slick-next:hover:before,
.ant-carousel .slick-prev:focus:before,
.ant-carousel .slick-next:focus:before {
  opacity: 1;
}
.ant-carousel .slick-prev.slick-disabled:before,
.ant-carousel .slick-next.slick-disabled:before {
  opacity: 0.25;
}
.ant-carousel .slick-prev {
  left: -25px;
}
.ant-carousel .slick-prev:before {
  content: "←";
}
.ant-carousel .slick-next {
  right: -25px;
}
.ant-carousel .slick-next:before {
  content: "→";
}
.ant-carousel .slick-dots {
  position: absolute;
  bottom: 12px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
  height: 3px;
}
.ant-carousel .slick-dots li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0 2px;
  padding: 0;
}
.ant-carousel .slick-dots li button {
  border: 0;
  cursor: pointer;
  background: #fff;
  opacity: 0.3;
  display: block;
  width: 16px;
  height: 3px;
  border-radius: 1px;
  outline: none;
  font-size: 0;
  color: transparent;
  transition: all .5s;
}
.ant-carousel .slick-dots li button:hover,
.ant-carousel .slick-dots li button:focus {
  opacity: 0.75;
}
.ant-carousel .slick-dots li.slick-active button {
  background: #fff;
  opacity: 1;
  width: 24px;
}
.ant-carousel .slick-dots li.slick-active button:hover,
.ant-carousel .slick-dots li.slick-active button:focus {
  opacity: 1;
}
.ant-carousel-vertical .slick-dots {
  width: 3px;
  bottom: auto;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: auto;
}
.ant-carousel-vertical .slick-dots li {
  margin: 0 2px;
  vertical-align: baseline;
}
.ant-carousel-vertical .slick-dots li button {
  width: 3px;
  height: 16px;
}
.ant-carousel-vertical .slick-dots li.slick-active button {
  width: 3px;
  height: 24px;
}

.ant-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.5;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 4px;
  height: 28px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
}
.ant-btn > .anticon {
  line-height: 1;
}
.ant-btn,
.ant-btn:active,
.ant-btn:focus {
  outline: 0;
}
.ant-btn:not([disabled]):hover {
  text-decoration: none;
}
.ant-btn:not([disabled]):active {
  outline: 0;
  transition: none;
}
.ant-btn.disabled,
.ant-btn[disabled] {
  cursor: not-allowed;
}
.ant-btn.disabled > *,
.ant-btn[disabled] > * {
  pointer-events: none;
}
.ant-btn-lg {
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
}
.ant-btn-sm {
  padding: 0 7px;
  font-size: 12px;
  border-radius: 4px;
  height: 22px;
}
.ant-btn > a:only-child {
  color: currentColor;
}
.ant-btn > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn:hover,
.ant-btn:focus {
  color: #108ee9;
  background-color: #fff;
  border-color: #108ee9;
}
.ant-btn:hover > a:only-child,
.ant-btn:focus > a:only-child {
  color: currentColor;
}
.ant-btn:hover > a:only-child:after,
.ant-btn:focus > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn:active,
.ant-btn.active {
  color: #0e77ca;
  background-color: #fff;
  border-color: #0e77ca;
}
.ant-btn:active > a:only-child,
.ant-btn.active > a:only-child {
  color: currentColor;
}
.ant-btn:active > a:only-child:after,
.ant-btn.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn.disabled,
.ant-btn[disabled],
.ant-btn.disabled:hover,
.ant-btn[disabled]:hover,
.ant-btn.disabled:focus,
.ant-btn[disabled]:focus,
.ant-btn.disabled:active,
.ant-btn[disabled]:active,
.ant-btn.disabled.active,
.ant-btn[disabled].active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  border-color: #d9d9d9;
}
.ant-btn.disabled > a:only-child,
.ant-btn[disabled] > a:only-child,
.ant-btn.disabled:hover > a:only-child,
.ant-btn[disabled]:hover > a:only-child,
.ant-btn.disabled:focus > a:only-child,
.ant-btn[disabled]:focus > a:only-child,
.ant-btn.disabled:active > a:only-child,
.ant-btn[disabled]:active > a:only-child,
.ant-btn.disabled.active > a:only-child,
.ant-btn[disabled].active > a:only-child {
  color: currentColor;
}
.ant-btn.disabled > a:only-child:after,
.ant-btn[disabled] > a:only-child:after,
.ant-btn.disabled:hover > a:only-child:after,
.ant-btn[disabled]:hover > a:only-child:after,
.ant-btn.disabled:focus > a:only-child:after,
.ant-btn[disabled]:focus > a:only-child:after,
.ant-btn.disabled:active > a:only-child:after,
.ant-btn[disabled]:active > a:only-child:after,
.ant-btn.disabled.active > a:only-child:after,
.ant-btn[disabled].active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active,
.ant-btn.active {
  background: #fff;
}
.ant-btn-primary {
  color: #fff;
  background-color: #108ee9;
  border-color: #108ee9;
}
.ant-btn-primary > a:only-child {
  color: currentColor;
}
.ant-btn-primary > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #fff;
  background-color: #49a9ee;
  border-color: #49a9ee;
}
.ant-btn-primary:hover > a:only-child,
.ant-btn-primary:focus > a:only-child {
  color: currentColor;
}
.ant-btn-primary:hover > a:only-child:after,
.ant-btn-primary:focus > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-primary:active,
.ant-btn-primary.active {
  color: #fff;
  background-color: #0e77ca;
  border-color: #0e77ca;
}
.ant-btn-primary:active > a:only-child,
.ant-btn-primary.active > a:only-child {
  color: currentColor;
}
.ant-btn-primary:active > a:only-child:after,
.ant-btn-primary.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-primary.disabled,
.ant-btn-primary[disabled],
.ant-btn-primary.disabled:hover,
.ant-btn-primary[disabled]:hover,
.ant-btn-primary.disabled:focus,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary.disabled:active,
.ant-btn-primary[disabled]:active,
.ant-btn-primary.disabled.active,
.ant-btn-primary[disabled].active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  border-color: #d9d9d9;
}
.ant-btn-primary.disabled > a:only-child,
.ant-btn-primary[disabled] > a:only-child,
.ant-btn-primary.disabled:hover > a:only-child,
.ant-btn-primary[disabled]:hover > a:only-child,
.ant-btn-primary.disabled:focus > a:only-child,
.ant-btn-primary[disabled]:focus > a:only-child,
.ant-btn-primary.disabled:active > a:only-child,
.ant-btn-primary[disabled]:active > a:only-child,
.ant-btn-primary.disabled.active > a:only-child,
.ant-btn-primary[disabled].active > a:only-child {
  color: currentColor;
}
.ant-btn-primary.disabled > a:only-child:after,
.ant-btn-primary[disabled] > a:only-child:after,
.ant-btn-primary.disabled:hover > a:only-child:after,
.ant-btn-primary[disabled]:hover > a:only-child:after,
.ant-btn-primary.disabled:focus > a:only-child:after,
.ant-btn-primary[disabled]:focus > a:only-child:after,
.ant-btn-primary.disabled:active > a:only-child:after,
.ant-btn-primary[disabled]:active > a:only-child:after,
.ant-btn-primary.disabled.active > a:only-child:after,
.ant-btn-primary[disabled].active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-group .ant-btn-primary:not(:first-child):not(:last-child) {
  border-right-color: #0e77ca;
  border-left-color: #0e77ca;
}
.ant-btn-group .ant-btn-primary:not(:first-child):not(:last-child):disabled {
  border-color: #d9d9d9;
}
.ant-btn-group .ant-btn-primary:first-child:not(:last-child) {
  border-right-color: #0e77ca;
}
.ant-btn-group .ant-btn-primary:first-child:not(:last-child)[disabled] {
  border-right-color: #d9d9d9;
}
.ant-btn-group .ant-btn-primary:last-child:not(:first-child),
.ant-btn-group .ant-btn-primary + .ant-btn-primary {
  border-left-color: #0e77ca;
}
.ant-btn-group .ant-btn-primary:last-child:not(:first-child)[disabled],
.ant-btn-group .ant-btn-primary + .ant-btn-primary[disabled] {
  border-left-color: #d9d9d9;
}
.ant-btn-ghost {
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border-color: #d9d9d9;
}
.ant-btn-ghost > a:only-child {
  color: currentColor;
}
.ant-btn-ghost > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-ghost:hover,
.ant-btn-ghost:focus {
  color: #108ee9;
  background-color: transparent;
  border-color: #108ee9;
}
.ant-btn-ghost:hover > a:only-child,
.ant-btn-ghost:focus > a:only-child {
  color: currentColor;
}
.ant-btn-ghost:hover > a:only-child:after,
.ant-btn-ghost:focus > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-ghost:active,
.ant-btn-ghost.active {
  color: #0e77ca;
  background-color: transparent;
  border-color: #0e77ca;
}
.ant-btn-ghost:active > a:only-child,
.ant-btn-ghost.active > a:only-child {
  color: currentColor;
}
.ant-btn-ghost:active > a:only-child:after,
.ant-btn-ghost.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-ghost.disabled,
.ant-btn-ghost[disabled],
.ant-btn-ghost.disabled:hover,
.ant-btn-ghost[disabled]:hover,
.ant-btn-ghost.disabled:focus,
.ant-btn-ghost[disabled]:focus,
.ant-btn-ghost.disabled:active,
.ant-btn-ghost[disabled]:active,
.ant-btn-ghost.disabled.active,
.ant-btn-ghost[disabled].active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  border-color: #d9d9d9;
}
.ant-btn-ghost.disabled > a:only-child,
.ant-btn-ghost[disabled] > a:only-child,
.ant-btn-ghost.disabled:hover > a:only-child,
.ant-btn-ghost[disabled]:hover > a:only-child,
.ant-btn-ghost.disabled:focus > a:only-child,
.ant-btn-ghost[disabled]:focus > a:only-child,
.ant-btn-ghost.disabled:active > a:only-child,
.ant-btn-ghost[disabled]:active > a:only-child,
.ant-btn-ghost.disabled.active > a:only-child,
.ant-btn-ghost[disabled].active > a:only-child {
  color: currentColor;
}
.ant-btn-ghost.disabled > a:only-child:after,
.ant-btn-ghost[disabled] > a:only-child:after,
.ant-btn-ghost.disabled:hover > a:only-child:after,
.ant-btn-ghost[disabled]:hover > a:only-child:after,
.ant-btn-ghost.disabled:focus > a:only-child:after,
.ant-btn-ghost[disabled]:focus > a:only-child:after,
.ant-btn-ghost.disabled:active > a:only-child:after,
.ant-btn-ghost[disabled]:active > a:only-child:after,
.ant-btn-ghost.disabled.active > a:only-child:after,
.ant-btn-ghost[disabled].active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-dashed {
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
  border-style: dashed;
}
.ant-btn-dashed > a:only-child {
  color: currentColor;
}
.ant-btn-dashed > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-dashed:hover,
.ant-btn-dashed:focus {
  color: #108ee9;
  background-color: #fff;
  border-color: #108ee9;
}
.ant-btn-dashed:hover > a:only-child,
.ant-btn-dashed:focus > a:only-child {
  color: currentColor;
}
.ant-btn-dashed:hover > a:only-child:after,
.ant-btn-dashed:focus > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-dashed:active,
.ant-btn-dashed.active {
  color: #0e77ca;
  background-color: #fff;
  border-color: #0e77ca;
}
.ant-btn-dashed:active > a:only-child,
.ant-btn-dashed.active > a:only-child {
  color: currentColor;
}
.ant-btn-dashed:active > a:only-child:after,
.ant-btn-dashed.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-dashed.disabled,
.ant-btn-dashed[disabled],
.ant-btn-dashed.disabled:hover,
.ant-btn-dashed[disabled]:hover,
.ant-btn-dashed.disabled:focus,
.ant-btn-dashed[disabled]:focus,
.ant-btn-dashed.disabled:active,
.ant-btn-dashed[disabled]:active,
.ant-btn-dashed.disabled.active,
.ant-btn-dashed[disabled].active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  border-color: #d9d9d9;
}
.ant-btn-dashed.disabled > a:only-child,
.ant-btn-dashed[disabled] > a:only-child,
.ant-btn-dashed.disabled:hover > a:only-child,
.ant-btn-dashed[disabled]:hover > a:only-child,
.ant-btn-dashed.disabled:focus > a:only-child,
.ant-btn-dashed[disabled]:focus > a:only-child,
.ant-btn-dashed.disabled:active > a:only-child,
.ant-btn-dashed[disabled]:active > a:only-child,
.ant-btn-dashed.disabled.active > a:only-child,
.ant-btn-dashed[disabled].active > a:only-child {
  color: currentColor;
}
.ant-btn-dashed.disabled > a:only-child:after,
.ant-btn-dashed[disabled] > a:only-child:after,
.ant-btn-dashed.disabled:hover > a:only-child:after,
.ant-btn-dashed[disabled]:hover > a:only-child:after,
.ant-btn-dashed.disabled:focus > a:only-child:after,
.ant-btn-dashed[disabled]:focus > a:only-child:after,
.ant-btn-dashed.disabled:active > a:only-child:after,
.ant-btn-dashed[disabled]:active > a:only-child:after,
.ant-btn-dashed.disabled.active > a:only-child:after,
.ant-btn-dashed[disabled].active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-danger {
  color: #f04134;
  background-color: #f7f7f7;
  border-color: #d9d9d9;
}
.ant-btn-danger > a:only-child {
  color: currentColor;
}
.ant-btn-danger > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-danger:hover,
.ant-btn-danger:focus {
  color: #fff;
  background-color: #f04134;
  border-color: #f04134;
}
.ant-btn-danger:hover > a:only-child,
.ant-btn-danger:focus > a:only-child {
  color: currentColor;
}
.ant-btn-danger:hover > a:only-child:after,
.ant-btn-danger:focus > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-danger:active,
.ant-btn-danger.active {
  color: #fff;
  background-color: #d73435;
  border-color: #d73435;
}
.ant-btn-danger:active > a:only-child,
.ant-btn-danger.active > a:only-child {
  color: currentColor;
}
.ant-btn-danger:active > a:only-child:after,
.ant-btn-danger.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-danger.disabled,
.ant-btn-danger[disabled],
.ant-btn-danger.disabled:hover,
.ant-btn-danger[disabled]:hover,
.ant-btn-danger.disabled:focus,
.ant-btn-danger[disabled]:focus,
.ant-btn-danger.disabled:active,
.ant-btn-danger[disabled]:active,
.ant-btn-danger.disabled.active,
.ant-btn-danger[disabled].active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  border-color: #d9d9d9;
}
.ant-btn-danger.disabled > a:only-child,
.ant-btn-danger[disabled] > a:only-child,
.ant-btn-danger.disabled:hover > a:only-child,
.ant-btn-danger[disabled]:hover > a:only-child,
.ant-btn-danger.disabled:focus > a:only-child,
.ant-btn-danger[disabled]:focus > a:only-child,
.ant-btn-danger.disabled:active > a:only-child,
.ant-btn-danger[disabled]:active > a:only-child,
.ant-btn-danger.disabled.active > a:only-child,
.ant-btn-danger[disabled].active > a:only-child {
  color: currentColor;
}
.ant-btn-danger.disabled > a:only-child:after,
.ant-btn-danger[disabled] > a:only-child:after,
.ant-btn-danger.disabled:hover > a:only-child:after,
.ant-btn-danger[disabled]:hover > a:only-child:after,
.ant-btn-danger.disabled:focus > a:only-child:after,
.ant-btn-danger[disabled]:focus > a:only-child:after,
.ant-btn-danger.disabled:active > a:only-child:after,
.ant-btn-danger[disabled]:active > a:only-child:after,
.ant-btn-danger.disabled.active > a:only-child:after,
.ant-btn-danger[disabled].active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-circle,
.ant-btn-circle-outline {
  width: 28px;
  padding: 0;
  font-size: 14px;
  border-radius: 50%;
  height: 28px;
}
.ant-btn-circle.ant-btn-lg,
.ant-btn-circle-outline.ant-btn-lg {
  width: 32px;
  padding: 0;
  font-size: 16px;
  border-radius: 50%;
  height: 32px;
}
.ant-btn-circle.ant-btn-sm,
.ant-btn-circle-outline.ant-btn-sm {
  width: 22px;
  padding: 0;
  font-size: 12px;
  border-radius: 50%;
  height: 22px;
}
.ant-btn:before {
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  background: #fff;
  opacity: 0.35;
  content: '';
  border-radius: inherit;
  z-index: 1;
  transition: opacity .2s;
  pointer-events: none;
  display: none;
}
.ant-btn .anticon {
  transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-btn.ant-btn-loading:before {
  display: block;
}
.ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline) {
  padding-left: 29px;
  pointer-events: none;
  position: relative;
}
.ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline) .anticon {
  margin-left: -14px;
}
.ant-btn-sm.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline) {
  padding-left: 24px;
}
.ant-btn-sm.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline) .anticon {
  margin-left: -17px;
}
.ant-btn-group {
  position: relative;
  display: inline-block;
}
.ant-btn-group > .ant-btn {
  position: relative;
  z-index: 1;
}
.ant-btn-group > .ant-btn:hover,
.ant-btn-group > .ant-btn:focus,
.ant-btn-group > .ant-btn:active,
.ant-btn-group > .ant-btn.active {
  z-index: 2;
}
.ant-btn-group > .ant-btn:disabled {
  z-index: 0;
}
.ant-btn-group-lg > .ant-btn {
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
}
.ant-btn-group-sm > .ant-btn {
  padding: 0 7px;
  font-size: 12px;
  border-radius: 4px;
  height: 22px;
}
.ant-btn-group-sm > .ant-btn > .anticon {
  font-size: 12px;
}
.ant-btn-group .ant-btn + .ant-btn,
.ant-btn + .ant-btn-group,
.ant-btn-group + .ant-btn,
.ant-btn-group + .ant-btn-group {
  margin-left: -1px;
}
.ant-btn-group .ant-btn:not(:first-child):not(:last-child) {
  border-radius: 0;
  padding-left: 8px;
  padding-right: 8px;
}
.ant-btn-group > .ant-btn:first-child {
  margin-left: 0;
}
.ant-btn-group > .ant-btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-right: 8px;
}
.ant-btn-group > .ant-btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding-left: 8px;
}
.ant-btn-group > .ant-btn-group {
  float: left;
}
.ant-btn-group > .ant-btn-group:not(:first-child):not(:last-child) > .ant-btn {
  border-radius: 0;
}
.ant-btn-group > .ant-btn-group:first-child:not(:last-child) > .ant-btn:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-right: 8px;
}
.ant-btn-group > .ant-btn-group:last-child:not(:first-child) > .ant-btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding-left: 8px;
}
.ant-btn:not(.ant-btn-circle):not(.ant-btn-circle-outline).ant-btn-icon-only {
  padding-left: 8px;
  padding-right: 8px;
}
.ant-btn:focus > span,
.ant-btn:active > span {
  position: relative;
}
.ant-btn > .anticon + span,
.ant-btn > span + .anticon {
  margin-left: 0.5em;
}
.ant-btn-clicked:after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  border-radius: inherit;
  border: 0 solid #108ee9;
  opacity: 0.4;
  -webkit-animation: buttonEffect .4s;
          animation: buttonEffect .4s;
  display: block;
}
.ant-btn-danger.ant-btn-clicked:after {
  border-color: #f04134;
}
.ant-btn-background-ghost {
  background: transparent!important;
  border-color: #fff;
  color: #fff;
}
.ant-btn-background-ghost.ant-btn-primary {
  color: #108ee9;
  background-color: transparent;
  border-color: #108ee9;
}
.ant-btn-background-ghost.ant-btn-primary > a:only-child {
  color: currentColor;
}
.ant-btn-background-ghost.ant-btn-primary > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-background-ghost.ant-btn-primary:hover,
.ant-btn-background-ghost.ant-btn-primary:focus {
  color: #49a9ee;
  background-color: transparent;
  border-color: #49a9ee;
}
.ant-btn-background-ghost.ant-btn-primary:hover > a:only-child,
.ant-btn-background-ghost.ant-btn-primary:focus > a:only-child {
  color: currentColor;
}
.ant-btn-background-ghost.ant-btn-primary:hover > a:only-child:after,
.ant-btn-background-ghost.ant-btn-primary:focus > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-background-ghost.ant-btn-primary:active,
.ant-btn-background-ghost.ant-btn-primary.active {
  color: #0e77ca;
  background-color: transparent;
  border-color: #0e77ca;
}
.ant-btn-background-ghost.ant-btn-primary:active > a:only-child,
.ant-btn-background-ghost.ant-btn-primary.active > a:only-child {
  color: currentColor;
}
.ant-btn-background-ghost.ant-btn-primary:active > a:only-child:after,
.ant-btn-background-ghost.ant-btn-primary.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-background-ghost.ant-btn-primary.disabled,
.ant-btn-background-ghost.ant-btn-primary[disabled],
.ant-btn-background-ghost.ant-btn-primary.disabled:hover,
.ant-btn-background-ghost.ant-btn-primary[disabled]:hover,
.ant-btn-background-ghost.ant-btn-primary.disabled:focus,
.ant-btn-background-ghost.ant-btn-primary[disabled]:focus,
.ant-btn-background-ghost.ant-btn-primary.disabled:active,
.ant-btn-background-ghost.ant-btn-primary[disabled]:active,
.ant-btn-background-ghost.ant-btn-primary.disabled.active,
.ant-btn-background-ghost.ant-btn-primary[disabled].active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  border-color: #d9d9d9;
}
.ant-btn-background-ghost.ant-btn-primary.disabled > a:only-child,
.ant-btn-background-ghost.ant-btn-primary[disabled] > a:only-child,
.ant-btn-background-ghost.ant-btn-primary.disabled:hover > a:only-child,
.ant-btn-background-ghost.ant-btn-primary[disabled]:hover > a:only-child,
.ant-btn-background-ghost.ant-btn-primary.disabled:focus > a:only-child,
.ant-btn-background-ghost.ant-btn-primary[disabled]:focus > a:only-child,
.ant-btn-background-ghost.ant-btn-primary.disabled:active > a:only-child,
.ant-btn-background-ghost.ant-btn-primary[disabled]:active > a:only-child,
.ant-btn-background-ghost.ant-btn-primary.disabled.active > a:only-child,
.ant-btn-background-ghost.ant-btn-primary[disabled].active > a:only-child {
  color: currentColor;
}
.ant-btn-background-ghost.ant-btn-primary.disabled > a:only-child:after,
.ant-btn-background-ghost.ant-btn-primary[disabled] > a:only-child:after,
.ant-btn-background-ghost.ant-btn-primary.disabled:hover > a:only-child:after,
.ant-btn-background-ghost.ant-btn-primary[disabled]:hover > a:only-child:after,
.ant-btn-background-ghost.ant-btn-primary.disabled:focus > a:only-child:after,
.ant-btn-background-ghost.ant-btn-primary[disabled]:focus > a:only-child:after,
.ant-btn-background-ghost.ant-btn-primary.disabled:active > a:only-child:after,
.ant-btn-background-ghost.ant-btn-primary[disabled]:active > a:only-child:after,
.ant-btn-background-ghost.ant-btn-primary.disabled.active > a:only-child:after,
.ant-btn-background-ghost.ant-btn-primary[disabled].active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-background-ghost.ant-btn-danger {
  color: #f04134;
  background-color: transparent;
  border-color: #f04134;
}
.ant-btn-background-ghost.ant-btn-danger > a:only-child {
  color: currentColor;
}
.ant-btn-background-ghost.ant-btn-danger > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-background-ghost.ant-btn-danger:hover,
.ant-btn-background-ghost.ant-btn-danger:focus {
  color: #f46e65;
  background-color: transparent;
  border-color: #f46e65;
}
.ant-btn-background-ghost.ant-btn-danger:hover > a:only-child,
.ant-btn-background-ghost.ant-btn-danger:focus > a:only-child {
  color: currentColor;
}
.ant-btn-background-ghost.ant-btn-danger:hover > a:only-child:after,
.ant-btn-background-ghost.ant-btn-danger:focus > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-background-ghost.ant-btn-danger:active,
.ant-btn-background-ghost.ant-btn-danger.active {
  color: #d73435;
  background-color: transparent;
  border-color: #d73435;
}
.ant-btn-background-ghost.ant-btn-danger:active > a:only-child,
.ant-btn-background-ghost.ant-btn-danger.active > a:only-child {
  color: currentColor;
}
.ant-btn-background-ghost.ant-btn-danger:active > a:only-child:after,
.ant-btn-background-ghost.ant-btn-danger.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.ant-btn-background-ghost.ant-btn-danger.disabled,
.ant-btn-background-ghost.ant-btn-danger[disabled],
.ant-btn-background-ghost.ant-btn-danger.disabled:hover,
.ant-btn-background-ghost.ant-btn-danger[disabled]:hover,
.ant-btn-background-ghost.ant-btn-danger.disabled:focus,
.ant-btn-background-ghost.ant-btn-danger[disabled]:focus,
.ant-btn-background-ghost.ant-btn-danger.disabled:active,
.ant-btn-background-ghost.ant-btn-danger[disabled]:active,
.ant-btn-background-ghost.ant-btn-danger.disabled.active,
.ant-btn-background-ghost.ant-btn-danger[disabled].active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  border-color: #d9d9d9;
}
.ant-btn-background-ghost.ant-btn-danger.disabled > a:only-child,
.ant-btn-background-ghost.ant-btn-danger[disabled] > a:only-child,
.ant-btn-background-ghost.ant-btn-danger.disabled:hover > a:only-child,
.ant-btn-background-ghost.ant-btn-danger[disabled]:hover > a:only-child,
.ant-btn-background-ghost.ant-btn-danger.disabled:focus > a:only-child,
.ant-btn-background-ghost.ant-btn-danger[disabled]:focus > a:only-child,
.ant-btn-background-ghost.ant-btn-danger.disabled:active > a:only-child,
.ant-btn-background-ghost.ant-btn-danger[disabled]:active > a:only-child,
.ant-btn-background-ghost.ant-btn-danger.disabled.active > a:only-child,
.ant-btn-background-ghost.ant-btn-danger[disabled].active > a:only-child {
  color: currentColor;
}
.ant-btn-background-ghost.ant-btn-danger.disabled > a:only-child:after,
.ant-btn-background-ghost.ant-btn-danger[disabled] > a:only-child:after,
.ant-btn-background-ghost.ant-btn-danger.disabled:hover > a:only-child:after,
.ant-btn-background-ghost.ant-btn-danger[disabled]:hover > a:only-child:after,
.ant-btn-background-ghost.ant-btn-danger.disabled:focus > a:only-child:after,
.ant-btn-background-ghost.ant-btn-danger[disabled]:focus > a:only-child:after,
.ant-btn-background-ghost.ant-btn-danger.disabled:active > a:only-child:after,
.ant-btn-background-ghost.ant-btn-danger[disabled]:active > a:only-child:after,
.ant-btn-background-ghost.ant-btn-danger.disabled.active > a:only-child:after,
.ant-btn-background-ghost.ant-btn-danger[disabled].active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
@-webkit-keyframes buttonEffect {
  to {
    opacity: 0;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-width: 6px;
  }
}
@keyframes buttonEffect {
  to {
    opacity: 0;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-width: 6px;
  }
}

.ant-radio-group {
  display: inline-block;
  font-size: 12px;
}
.ant-radio-wrapper {
  font-size: 12px;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  margin-right: 8px;
  cursor: pointer;
}
.ant-radio {
  white-space: nowrap;
  outline: none;
  display: inline-block;
  position: relative;
  line-height: 1;
  vertical-align: text-bottom;
  cursor: pointer;
}
.ant-radio-wrapper:hover .ant-radio .ant-radio-inner,
.ant-radio:hover .ant-radio-inner,
.ant-radio-focused .ant-radio-inner {
  border-color: #108ee9;
}
.ant-radio-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 14px;
  height: 14px;
  border-width: 1px;
  border-style: solid;
  border-radius: 14px;
  border-color: #d9d9d9;
  background-color: #fff;
  transition: all 0.3s;
}
.ant-radio-inner:after {
  position: absolute;
  width: 6px;
  height: 6px;
  left: 3px;
  top: 3px;
  border-radius: 4px;
  display: table;
  border-top: 0;
  border-left: 0;
  content: ' ';
  background-color: #108ee9;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.ant-radio-input {
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.ant-radio-checked .ant-radio-inner {
  border-color: #108ee9;
}
.ant-radio-checked .ant-radio-inner:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.ant-radio-disabled .ant-radio-inner {
  border-color: #d9d9d9 !important;
  background-color: #f7f7f7;
}
.ant-radio-disabled .ant-radio-inner:after {
  background-color: #ccc;
}
.ant-radio-disabled .ant-radio-input {
  cursor: not-allowed;
}
.ant-radio-disabled + span {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
span.ant-radio + * {
  padding-left: 8px;
  padding-right: 8px;
}
.ant-radio-button-wrapper {
  margin: 0;
  height: 28px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.65);
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-left: 0;
  background: #fff;
  padding: 0 16px;
}
.ant-radio-button-wrapper a {
  color: rgba(0, 0, 0, 0.65);
}
.ant-radio-button-wrapper > .ant-radio-button {
  margin-left: 0;
  display: block;
  width: 0;
  height: 0;
}
.ant-radio-group-large .ant-radio-button-wrapper {
  height: 32px;
  line-height: 30px;
}
.ant-radio-group-small .ant-radio-button-wrapper {
  height: 22px;
  line-height: 20px;
  padding: 0 12px;
}
.ant-radio-group-small .ant-radio-button-wrapper:first-child {
  border-radius: 2px 0 0 2px;
}
.ant-radio-group-small .ant-radio-button-wrapper:last-child {
  border-radius: 0 2px 2px 0;
}
.ant-radio-button-wrapper:first-child {
  border-radius: 4px 0 0 4px;
  border-left: 1px solid #d9d9d9;
}
.ant-radio-button-wrapper:last-child {
  border-radius: 0 4px 4px 0;
}
.ant-radio-button-wrapper:first-child:last-child {
  border-radius: 4px;
}
.ant-radio-button-wrapper:hover,
.ant-radio-button-wrapper-focused {
  color: #108ee9;
  position: relative;
}
.ant-radio-button-wrapper .ant-radio-inner,
.ant-radio-button-wrapper input[type="checkbox"],
.ant-radio-button-wrapper input[type="radio"] {
  opacity: 0;
  filter: alpha(opacity=0);
  width: 0;
  height: 0;
}
.ant-radio-button-wrapper-checked {
  background: #fff;
  border-color: #ec5598;
  color: #ec5598;
  box-shadow: -1px 0 0 0 #108ee9;
}
.ant-radio-button-wrapper-checked:first-child {
  border-color: #ec5598;
  box-shadow: none!important;
}
.ant-radio-button-wrapper-checked:hover {
  border-color: #ec5598;
  box-shadow: -1px 0 0 0 #ec5598;
  color: #ec5598;
}
.ant-radio-button-wrapper-checked:active {
  border-color: #0e77ca;
  box-shadow: -1px 0 0 0 #0e77ca;
  color: #0e77ca;
}
.ant-radio-button-wrapper-disabled {
  border-color: #d9d9d9;
  background-color: #f7f7f7;
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
}
.ant-radio-button-wrapper-disabled:first-child,
.ant-radio-button-wrapper-disabled:hover {
  border-color: #d9d9d9;
  background-color: #f7f7f7;
  color: rgba(0, 0, 0, 0.25);
}
.ant-radio-button-wrapper-disabled:first-child {
  border-left-color: #d9d9d9;
}
.ant-radio-button-wrapper-disabled.ant-radio-button-wrapper-checked {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #d9d9d9;
  box-shadow: none;
}

span.line1 {
  color: #ec5598;
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
}

span.line2 {
  color: #ec5598;
  width: 1px;
  height: 0px;
  top: 0;
  right: 0;
}

span.line3 {
  color: #ec5598;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
}

span.line4 {
  color: #ec5598;
    width: 1px;
    height: 0px;
    left: 0;
    bottom: 0;
}

span{
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; */
  -webkit-backface-visibility: hidden;
}

span.line1, span.line2, span.line3, span.line4 {
    position: absolute;
}

span.line1, span.line2, span.line3, span.line4 {
    background: #ec5598;
}

.menu ul li {
    display: inline-block;
    margin: 10px 0 10px 22px;
    height: 35px;
    width: auto;
}

.menu ul li a {
    padding-left: 5px;
    font-size: 15px;
    line-height: 18px;
    padding-bottom: 5px;
}

.menu ul li a, .menu-drop li {
  list-style: none;
  color: #ec5598;
  font-size: 22px;
  text-transform: uppercase;
  padding: 7px 7px 0 8px;
  line-height: 26px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #ec5598;
    background-color: transparent;
}

.page-link-active{

}

.menu-drop li, .pull-right li a:hover, footer .page_link ul li:hover a {
    color: #ec5598;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    /*background-color: #eee;*/
}

.pull-right li a:hover span.line1, .pull-right li a:hover span.line3 {
    width: 100%;
}

span.line1Active, span.line3Active {
    width: 100%;
}

span.line2Active, span.line4Active {
  height: 100%;
  display: inline-block;
}

.pull-right li a:hover span.line2, .pull-right li a:hover span.line4 {
    height: 100%;
}

.pull-right li, footer .page_link ul li, span.line2, span.line4 {
    display: inline-block;
}
